<footer class="page-footer font-small background pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="color">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/karol.batista92/
                        h" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/karol-batista-29a1b8167/
                        " target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/karolrobertax3" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright background text-center py-3">
        <span class="color">Copyright &copy; 2021 Karol Batista - Todos os direitos reservados<p><i class="fa fa-envelope" aria-hidden="true" style="
            font-size:10pt;"></i>karolroberta92@hotmail.com</p></span>
    </div>
</footer>