<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/generationbrasil/" target="_blank" class="iconFacebook">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/generationbrasil/?hl=pt-br" target="_blank" class="iconInstagram">
                            <i class="fab fa-instagram-square"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/school/generationbrasil" target="_blank" class="iconLinkedIn">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-white">© 2021 Generation: You Employed, Inc.  </span>
        <a class="text-white" target="_blank" href="https://brazil.generation.org/">brazil.generation.org</a>

    </div>

</footer>
