ul.social-network{
list-style: none;
padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fab{
    font-size: 35pt;
    color: white;
}

.fa-facebook-square:hover{
    color:#3b5998;
}

.fa-instagram-square:hover{
    color: #C13584;
}

.fa-linkedin:hover{
  color: #0072b1;
}
