<div>
    <div class="col-md-12 foto-fundo d-flex align-items-center justify-content-center">
        <div class="text-center">
        <h1 class="mb-3 color">Cadastro</h1>
        <div class="col-md-12 bg-login d-flex align-items-center justify-content-center">
            <div class="formulario">
                <form>
                    <div class="form-group">
                      <label for="nome">Nome</label>
                      <input [(ngModel)]='user.nome' type="text" class="form-control color" name="nome" id="IdNome" placeholder="Nome">
                    </div>

                    <div class="form-group">
                      <label for="usuario">Usuario</label>
                      <input [(ngModel)]='user.usuario' type="text" class="form-control color" name="usuario" id="IdUsuario" placeholder="Usuário">
                    </div>

                    <div class="form-group">
                        <label for="biografia">Biografia</label>
                        <input type="text" class="form-control color" name="biografia" id="IdBiografia" placeholder="Biografia">
                    </div>

                    <div class="form-group">
                        <label for="linkFoto">Link da Foto</label>
                        <input [(ngModel)]='user.foto' type="text" class="form-control color" name="foto" id="Idfoto" placeholder="Link da Foto">
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input (input)='confirmSenha($event)' type="password" class="form-control color" name="senha" id="IdSenha" placeholder="Senha" >
                        <i class="fa fa-eye color" aria-hidden="true"></i>
                    </div>

                    <div class="form-group">
                        <label for="confirmSenha">confirmarSenha</label>
                        <input [(ngModel)]='user.senha' type="password" class="form-control color"
                        name="confirmSenha" id="IdConfirmSenha" placeholder="Confirme sua Senha">
                        <i class="fa fa-eye color" aria-hidden="true"></i>
                    </div>

                    <div class="form-group">
                        <label for="linkFoto"></label>
                        <select class="form-control select" name="tipo" id="tipo" (change)='tipoUser($event)'>
                            <option>Selecione um tipo de usuário:</option>
                            <option value="normal">Normal</option>
                            <option value="adm">Administrador</option>
                        </select>
                    </div>
                    <div class="mt-4 mb-4">
                        <button [routerLink]="['/login']" routerLinkActive="router-link-active"  class="button color mr-5 cancelar" style="background: #E91C5D; color: #151819;" type="submit">Cancelar</button>
                        <button type="submit" class="button color" (click)='cadastrar()'>Cadastrar</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>     
</div>