.fundo {
    background: #151819;
}

.background {
    background-color: #151819;
}

.inicio {
    text-decoration: none;
    color: #616D72;
    font-size: 14pt;
}

.inicio:hover {
    transition: linear 400ms;
    color: #E91C5D;
}

.fs-54 {
    font-size: 54px;
    color: #616D72;
}

.fs-18 {
    font-size: 18pt;
    color: #616D72;
}

#descricao {
    background: transparent;
    border: solid 1px #616D72;
    border-radius: 20px;
}

#descricao:focus {
    border: none;
}

::-webkit-input-placeholder {
    color: #616D72;
    font-weight: 500;
}

:-moz-placeholder { /* Firefox 18- */
    color: #616D72;
    text-transform: uppercase;
}
  
::-moz-placeholder {  /* Firefox 19+ */
    color: #616D72;  
}
  
:-ms-input-placeholder {  
    color: #616D72;  
}

.btn-info {
    border: none;
    border-radius: 8px;
    color: #151819;
    background: #616D72;
    font-weight: bolder;
}

.btn-danger {
    border: none;
    border-radius: 8px;
    color: #151819;
    background: #E91C5D;
    font-weight: bolder;
}

h2, tr {
    color: #616D72;
}