<div class="fundo">
    <div class="container-fluid">

        <div class="row background d-flex align-items-center">
            <div class="col-md-6">
    
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 color">
                        <h1 class="fs-54">Seja bem vindo(a)!</h1>
                        <h5 class="fs-18">Expresse aqui os seus pensamentos e opniões!</h5>
                    </div>
                </div>
    
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 d-flex justify-content-center aling-items-center">
                        <button type="button" class="button" data-toggle="modal" data-target="#nova-postagens">Nova Postagem</button>
                        <a href="#postagens" class="button-btn">Ver Postagens</a>
                    </div>
                </div>
    
            </div>
    
            <div class="col-md-6 justify-content-center">
                <img src="https://i.imgur.com/06z8c2y.png" alt="" width="500px" height="500px">
            </div>
        </div>
    
    </div>

    <!--Container de postagens-->
    
    <div class="container mt-5 mb-35 background-nav" id="postagens">
        <nav >
            <div class="nav nav-tabs d-flex justify-content-center" id="nav-todasPostagens-tab" role="tablist">
              <a class="nav-item nav-link active color font-weight-bold" id="nav-home-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as Postagens</a>
    
              <a class="nav-item nav-link color font-weight-bold" id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas Postagens</a>
    
              <a class="nav-item nav-link color font-weight-bold" id="nav-postagemTema-tab" data-toggle="tab" href="#postagemTema" role="tab" aria-controls="nav-postagemTema" aria-selected="false">Postagens por Tema</a>
            </div>
          </nav>
    
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show color active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">Todas as Postagens</div>
            <div class="tab-pane fade color" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">Minhas Postagens</div>
    
            <div class="tab-pane fade color" id="postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">Postagens Por Tema</div>
          </div>
    </div>
</div>


<!-- Botão para acionar modal --> 
  <!-- Modal -->
  <div class="modal fade" id="nova-postagens" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Novas Postagens</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
              <label for="titulo">Título</label>
              <input type="text" class="form-control" id="titulo" placeholder="Digite um título">
          </div>

          <div class="form-group">
              <label for="texto">Texto</label>
              <textarea class="form-control" name="texto" id="texto" rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="tema">Escolha um tema ou <a href="">Cadastre um novo tema</a>:</label>
            <select class="form-control" name="tema" id="tema">
                <option value="">Tema</option>
            </select>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="button-btn" data-dismiss="modal">Cancelar</button>
          <button type="button" class="button-btn">Publicar</button>
        </div>
      </div>
    </div>
  </div>
